* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100vw;
	height: 100vh;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column-reverse;
}

#controller {
	width: 100vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000000;
	z-index: 1;
	transition: height 0.35s ease-out;
}

#controller:hover {
	height: 35vw;
	transition: height 0.35s ease-out;
}

#filelist {
	display: none;
}

#container {
	top: 0;
	left: 0;
	background: rgb(32, 32, 61);
	width: 100vw;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

#canvas1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#audio1 {
	width: 50%;
	margin: 50px auto;
	display: block;
	z-index: 1;
}

#fileupload {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30vw;
}

input[type=file]::file-selector-button {
	width: 28vw;
	height: 8vh;
	border: 0;
	border-radius: 30px;
	background: #476FDE;
	font-weight: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	top: 150px;
	color: #ffffff;
	z-index: 1;
}

@media only screen and (min-width: 600px) {
	body {
		flex-direction: row;	
	}
	#controller {
		width: 5vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-around;
		transition: width 0.35s ease-out;
	}
	#controller:hover {
		width: 25vw;
		height: 100vh;
		transition: width 0.35s ease-out;
	}
	#fileupload {
		display: none;
		align-items: center;
		justify-content: center;
		width: 50%;
		margin: 1rem;
	}
	#filelist {
		display: none;
		flex-direction: column;
		width: 100%;
		height: 70%;
		top: 0;
		bottom: 0;
		overflow-x: hidden;
		overflow-y: scroll;
		scrollbar-width: thin;
	}
	#filelist > div {
		width: 600px;
		height: 12vh;
		white-space: nowrap;
		border-bottom: 2px dotted #476FDE;
		cursor: default;
	}
	#filelist > div:hover {
		background: #476FDE;
		transition: background-color 0.25s ease-in;
	}
	#filelist p {
		width: 100%;
		height: 12vh;
		display: flex;
		align-items: center;
		white-space: nowrap;
		overflow: hidden;
		padding-left: 1rem;
		text-overflow: ellipsis;
		font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		color: white;
		cursor: default;
		transition: background-color 0.25s ease-in;
	}
	#filelist p:hover {
		cursor: default;
		background: #476FDE;
		animation: marquee 9s linear infinite;
	}
	#container {
		width: 95vw;
		height: 100vh;
	}
	input[type=file]::file-selector-button {
		width: 8vw;
		height: 6vh;
		border: 0;
		border-radius: 30px;
		background: #476FDE;
		font-weight: bold;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		top: 150px;
		color: #ffffff;
		z-index: 1;
	}
	#selector {
		display: none;
		width: 100%;
		flex-direction: column;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		color: white;
		margin-left: 1rem;
	}
	.checkcontainer {
		display: block;
		position: relative;
		padding-left: 2rem;
		margin-bottom: 1rem;
		font-size: 1.5rem;
		user-select: none;
	}
	.checkcontainer input {
		position: absolute;
		opacity: 0;
		cursor: default;
		height: 0;
		width: 0;
	}
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 25px;
		width: 25px;
		background-color: #eee;
	}
	.checkcontainer:hover input ~ .checkmark {
		background-color: #ccc;
	}

	.checkcontainer input:checked ~ .checkmark {
		background-color: #476FDE;
	}
	.checkmark::after {
		content: "";
		position: absolute;
		display: none;
	}
	.checkcontainer input:checked ~ .checkmark::after {
		display: block;
	}
	.checkcontainer .checkmark::after {
		left: 9px;
		top: 5px;
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 3px 3px 0;
		transform: rotate(45deg);
	}
	@keyframes marquee {
		0% {
			transform: translateX(0%);
		}
		80% {
			transform: translateX(-100%)
		}
		81% {
			transform: translateX(100%);
		}
		100% {
			transform: translateX(0%);
		}
	}
}